.home-headline {
	padding: 12px 0;
	font-size: 74px;
	font-weight: 700;
	color: var(--text-colour-primary);
	text-align: left;
	transition: 0.2s;
	max-width: 1300px;
}

@media (max-width: 1200px) {
	.home-headline {
		font-size: 4.16vw;
	}
}

@media (max-width: 768px) {
	.home-headline {
		margin-top: 24px;
		font-size: 32px;
	}
}
