.home-headline {
	padding: 12px 0;
	font-size: 75px;
	font-weight: 600;
	color: var(--text-colour-primary);
	text-align: left;
	transition: 0.2s;
	max-width: 1300px;
	background: linear-gradient(180deg, #4af 15%, #fff, #ccc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media (max-width: 1250px) {
	.home-headline {
		font-size: 5.5vw;
	}
}

@media (max-width: 768px) {
	.home-headline {
		margin-top: 24px;
		font-size: 38px;
	}
}
