.home-subheadline {
	font-size: 20px;
	font-weight: 700;
	color: #cef;
}

.home-subheadline-text {
	background: linear-gradient(180deg, #fff, #9cf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.home-subheadline-line-break {
	display: block;
	content: "";
	width: 1px;
	height: 14px;
}

@media (max-width: 768px) {
	.home-subheadline {
		margin-top: 12px;
		margin-bottom: calc(24px + 48px);
		font-size: 16px;
	}
}
