.home-primary {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70vh;
}

.home-page .work-list-title {
	position: relative;
	margin-bottom: 24px;
	padding-left: 12px;
	font-size: 40px;
	font-weight: 700;
}

.home-page .work-list-title::before {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(calc(-50% + 1px));
	display: block;
	content: "";
	width: 4px;
	height: calc(100% - 8px);
	background: var(--text-colour-blue);
}

.home-page .work-list-items {
	--worklistitem-padding: 16px;
}

@media (max-width: 768px) {
	.home-page .work-list-title {
		font-size: 32px;
	}

	.home-page .work-list-items {
		--worklistitem-padding: 0px;
	}
}
